/*generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #27ae60;
  }
  
  /*formulario*/
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    border: 2px solid #27ae60;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2ecc71;
  }
  
  /*lista de tareas*/
  ol {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /*eliminar tarea */
  button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c0392b;
  }
  
  /*completar todas las tareas */
  #complete-all {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  #complete-all:hover {
    background-color: #2980b9;
  }
  
  /*tareas completadas*/
  .completed {
    text-decoration: line-through;
    color: #95a5a6;
  }
  