body 
{
    background-color: #006999;
    font-family: Arial, sans-serif;
}

h1 
{
    margin-bottom: 10px;
    text-align: center;
    color: aliceblue;
}

h2 
{
    color: aliceblue;
    text-align: center;
}

form 
{
    width: 60%;
    margin: 0 auto;
    background-color: #d3eef0;
    padding: 20px;
    border-radius: 8px;
}

.form-group 
{
    margin-bottom: 20px;
    color:#000000;
    margin-top: 1%;
}

.form-group label 
{
    display: block;
    margin-bottom: 10px;
}

.form-group input,
.form-group select,
.form-group textarea 
{
    width: 97%;
    padding: 10px;
    border: 1px solid #140086;
    border-radius: 4px;
}

button 
{    
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #03305f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    clear: both;
}

.input-group 
{
    display: flex;
    align-items: center;
}

.input-group input 
{
    margin-right: 10px;
}

.form-group input[type="checkbox"]
{
    vertical-align: middle;
    margin-left: 0%;
    margin-top: 10px;
    margin-bottom: -2.5%;
}

.form-group input[type="radio"]
{
    vertical-align: middle;
    margin-left: 0%;
    margin-top: 10px;
    margin-bottom: -2.5%;
}

